.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    height: 72px;
}


.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    font-weight: 500;
}

